

{% extends "::layout.html.twig" %}
{% block title %}Projet Philae{% endblock%}
{% block body %}



    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

       {{ form_start(form) }}
    {{ form_errors(form) }}
     <div>
         <label for="form_projet_id" class="required">Projet : </label>
        <select id="form_projet_id" name="form[projet_id]">
            {% for projet in projetsGestionnaire %}
                <option value="{{projet.id}}">{{projet.domaine.nom}} - {{projet.etablissement.nom}} - {{projet.classe.nomcourt}}</option>
            {% endfor %}            
        </select>
        </div>
        <!-- Ligne à garder, sinon problème
            {{ form_row(form.projet_id) }}
        -->

{{ form_end(form) }}

    {% else %}

Vous n'êtes pas connecté ! <br />
<a href="{{ path('fos_user_security_login') }}">Connexion</a>
    {% endif %}









{% endblock %}

