    {% extends "::layout.html.twig" %}

{% block body %}
<div class="text-center">
    <span id="titre">{{domaine.nom}}</span><br />
        {{domaine.description}}
</div>
<br />

<style>  #progressbar {
        background-color: black;
        border-radius: 13px; /* (height of inner div) / 2 + padding */
        padding: 3px;
        width:50%;
        margin:auto;
        text-align: right;
        line-height:1;
        color:white;
    }

    #progressbar > div {
        background-color: #01B0F0;
        width:{% if etapes[0].avancement is defined %} {{etapes[0].avancement}}%
                     {% else %}  0%
                     {% endif %} ;/* Adjust with JavaScript */
        border-radius: 10px;
        line-height:1;
    }
</style>

<div id="progressbar">

    <div>{% if etapes[0].avancement is defined %}

                {{etapes[0].avancement}}%

        {% else %}
        0%
            {% endif %}</div>

</div>
<br /><br />
    {% for etape in etapes %}
<table width="100%" class="table">
    <tr>
        <th colspan="2"><div class="text-center">{{etape.titre}}</div><div class="text-right" style="margin-top: -20px;">{{etape.avancement}}</div></th>
</tr>
<tr>
    <td width="10%"><a href="{{ asset("img/upload/" ~ etape.path)}}"  class="example-image-link"  data-lightbox="example-2"><img src='{{ ("img/upload/" ~ etape.path) |  apply_filter('my_thumb')}}'  /></a></td>
    <td width="90%">{{ etape.contenu|raw }}</td>
</tr>
</table>
<br /><br />
    {% endfor %}


{% endblock %}