{# src/Cnes/phileaBundle/Resources/views/Default/admin.html.twig #}
{% extends "::layout.html.twig" %}
{% block title %}Projet philea - Rédaction{% endblock %}
{% block body %}

    <h1 style="text-align:center;"><span id="titre">Mes étapes</span></h1>

    <table class="table">

        {% for projet in projets %}
            <tr>
                <th>
                    <a href="{{ path('philea_redacteur_etape_ajouter', { 'idProjet': projet.id }) }}">Ajouter une étape au Projet {{ projet.domaine.nom }}</a>
                </th>

            </tr>

        {% endfor %}

   </table>


    <div id="accordion">

<h3> Etape(s) en Attente(s) de Publication</h3>
    <div>

        {% for etape in etapes %}
            {% if (etape.isValide==0) %}

                <table width="100%" class="table">
                            <tr>
                                <th colspan="5"><span style="float:left;">Projet : {{ etape.projet.domaine.nom }}</span>
                            </tr>
                            <tr>
                                <th colspan="5"><span style="float:left;">{{ etape.titre }}</span> <span
                                            style="float:right;">Avancement : {{ etape.avancement }}%</span></th>
                            </tr>
                            <tr>

                                <td width="10%"><img src='{{ ("img/upload/" ~ etape.path) | imagine_filter("my_thumb") }}' /></td>
                                <td width="80%">{{ etape.contenu|raw }}</td>
                                <td width="5%"><a
                                            href="{{ path('philea_redacteur_etape_modifier',{'id' : etape.id}) }}">
                                        <button class="btn btn-info btn-small"><i class="icon-white icon-edit"></i>
                                            Modifier
                                        </button>
                                    </a></td>
                                
                                <td width="5%"><a
                                            href="{{ path('philea_redacteur_etape_supprimer',{'id' : etape.id}) }}">
                                        <button class="btn btn-danger btn-small"><i class="icon-white icon-trash"></i>
                                            Supprimer
                                        </button>
                                    </a></td>
                            </tr>
                        </table>
                        <br/>
            {% endif %}
        {% endfor %}
    </div>
    <h3>Etape(s) Publiée(s)</h3>
    <div>
                {% for etape in etapes %}
                    {% if (etape.isValide==1) %}

                        <table width="100%" class="table">
                            <tr>
                                <th colspan="5"><span style="float:left;">Projet : {{ etape.projet.domaine.nom }}</span>
                            </tr>
                            <tr>
                                <th colspan="5"><span style="float:left;">{{ etape.titre }}</span> <span
                                            style="float:right;">Avancement : {{ etape.avancement }}%</span></th>
                            </tr>
                            <tr>

                                <td width="10%"><img src='{{ ("img/upload/" ~ etape.path) | imagine_filter("my_thumb") }}' /></td>
                                <td width="80%">{{ etape.contenu|raw }}</td>
                                <td width="5%"><a
                                            href="{{ path('philea_redacteur_etape_modifier',{'id' : etape.id}) }}">
                                        <button class="btn btn-info btn-small"><i class="icon-white icon-edit"></i>
                                            Modifier
                                        </button>
                                    </a></td>
                                
                                <td width="5%"><a
                                            href="{{ path('philea_redacteur_etape_supprimer',{'id' : etape.id}) }}">
                                        <button class="btn btn-danger btn-small"><i class="icon-white icon-trash"></i>
                                            Supprimer
                                        </button>
                                    </a></td>
                            </tr>


                        </table>
                        <br/>

                    {% endif %}
                {% endfor %}
    </div>
    </div>
        <script>
            $( "#accordion" ).accordion({autoHeight: false, header: "h3", collapsible : true, active:false,heightStyle: false});
        </script>

        {% endblock %}
