{% extends "::layout.html.twig" %}

{% block body %}
<div class="text-center">
    <div class="row content">
        <div class="col-xs-12">
            <div>
                <p><em>Les domaines des projets de la maquette grandeur nature du module Philae de la mission Rosetta.</em></p>
            </div>
        </div>
    </div>

    <div>
        <div class="row content">
            <div class="col-xs-1"></div>

            <div class="col-xs-10">
                <style type="text/css">
                    /* General styles */
                    html, body {padding:0; margin:0; width:100%; min-height:100%;}
                    .wrapper {width:100%; height:100%;}
                    .page {width:100%; margin:0 auto;}
                    h1,h3,h4,p {margin:0; padding:3px 0;}

                    /* Image map styles */
                    .imageMap {width:100%; position:relative;}
                    .imageMap img {display:block; width:100%; border-radius:20px;}
                    .imageMap .hotspots {width:100%; height:100%; position:absolute; left:0; top:0; visibility:hidden;}
                    .imageMap a {display:block; position:absolute; background:#000; z-index:100; opacity:0; filter: alpha(opacity=20); border:1px solid transparent; border-radius:10px;}

                    .imageMap a.p1 {left:4%; top:12%; width:6%; height:4%;}
                    .imageMap a.p2 {left:1%; top:24%; width:9%; height:4%;}
                    .imageMap a.p3 {left:1.5%; top:34%; width:8.4%; height:4%;}
                    .imageMap a.p4 {left:-0.5%; top:49.5%; width:15.8%; height:8%;}
                    
                    .imageMap a.p5 {left:90.8%; top:14.5%; width:5%; height:4%;}
                    .imageMap a.p6 {left:90.8%; top:21.2%; width:6%; height:4%;}
                    .imageMap a.p7 {left:90.6%; top:31%; width:8.7%; height:3.5%;}
                    .imageMap a.p8 {left:90.6%; top:45.6%; width:8.7%; height:4%;}
                    .imageMap a.p9 {left:90.8%; top:54.3%; width:7%; height:4%;}
                    .imageMap a.p10 {left:91%; top:60.2%; width:6.4%; height:4%;}
                    
                    .imageMap a.p11 {left:0%; top:83.5%; width:9.2%; height:16%;}
                    .imageMap a.p12 {left:17.7%; top:83.5%; width:9.2%; height:16%;}
                    .imageMap a.p13 {left:35%; top:83.5%; width:10.5%; height:16%;}
                    .imageMap a.p14 {left:50.5%; top:83.5%; width:16.1%; height:16%;}
                    .imageMap a.p15 {left:71.8%; top:83.5%; width:9.2%; height:16%;}
                    .imageMap a.p16 {left:89.8%; top:83.5%; width:9.2%; height:16%;}
                    
                    .imageMap a.p17 {left:8%; top:65%; width:10.2%; height:16%;}
                    .imageMap a.p18 {left:22.5%; top:65%; width:25%; height:16%;}
                    

                    .imageMap a + p {position:absolute; left:0%; top:102%; width:100%; color:#000; display:none;}

                    .imageMap:hover .hotspots {visibility:visible;}
                    .imageMap p strong {display:block; padding:0; margin:0; font: bold 25px/30px 'times new roman',serif; color:#000;}
                    .imageMap p {padding:0; margin:0; font: normal 18px/22px 'times new roman',serif; color:#444;}


                    .imageMap .hotspots div:hover a {background:#fff; z-index:100; opacity:0.3; filter: alpha(opacity=30); border:1px solid #000;}
                </style>


                <div class="wrapper" onclick="">
                    <div class="page">

                        <div class="imageMap" aria-haspopup="true">
                            <img src="{{ asset('img/site/synoptique.png') }}" alt="" />
                            <div class="hotspots">
                                <div><a data-toggle="tooltip" title="Système de propulsion qui permet de plaquer Philae au sol"  href="{{ path('philea_domaine',{'idDomaine' : '4'}) }}" class="p1" rel="nofollow" aria-haspopup="false"></a><p><strong>ADS</strong></p><b class="b1"></b></div>
                                <div><a href="{{ path('philea_domaine',{'idDomaine' : '2'}) }}" class="p2" rel="nofollow" aria-haspopup="false"></a><p><strong>Balcon</strong></p><b class="b2"></b></div>
                                <div><a href="{{ path('philea_domaine',{'idDomaine' : '1'}) }}" class="p3" rel="nofollow" aria-haspopup="false"></a><p><strong>Caisse</strong></p><b class="b3"></b></div>
                                <div><a href="{{ path('philea_domaine',{'idDomaine' : '3'}) }}" class="p4" rel="nofollow" aria-haspopup="false"></a><p><strong>Train d'atterisage</strong>.</p><b class="b4"></b></div>
                                <div><a data-toggle="tooltip" title="foreuse et carrousel tournant" href="{{ path('philea_domaine',{'idDomaine' : '12'}) }}" class="p5" rel="nofollow" aria-haspopup="false"></a><p><strong>SD2</strong></p><b class="b5"></b></div>
                                <div><a data-toggle="tooltip" title="caméras 2D/3D" href="{{ path('philea_domaine',{'idDomaine' : '8'}) }}" class="p6" rel="nofollow" aria-haspopup="false"></a><p><strong>CIVA</strong></p><b class="b6"></b></div>
                                <div><a data-toggle="tooltip" title="ROsetta MAgnetmeter and Plasma monitor" href="{{ path('philea_domaine',{'idDomaine' : '11'}) }}" class="p7" rel="nofollow" aria-haspopup="false"></a><p><strong>ROMAP</strong></p><b class="b7"></b></div>
                                <div><a data-toggle="tooltip" title="Mesure de la dureté du sol" href="{{ path('philea_domaine',{'idDomaine' : '9'}) }}" class="p8" rel="nofollow" aria-haspopup="false"></a><p><strong>MUPUS</strong></p><b class="b8"></b></div>
                                <div><a data-toggle="tooltip" title="ROsetta Lander Imaging System" href="{{ path('philea_domaine',{'idDomaine' : '10'}) }}" class="p9" rel="nofollow" aria-haspopup="false"></a><p><strong>ROLIS</strong></p><b class="b9"></b></div>
                                <div><a data-toggle="tooltip" title="Alpha Particle X-ray Spectrometer" href="{{ path('philea_domaine',{'idDomaine' : '7'}) }}" class="p10" rel="nofollow" aria-haspopup="false"></a><p><strong>APXS</strong></p><b class="b10"></b></div>
                                <div><a data-toggle="tooltip" title="" href="{{ path('philea_domaine',{'idDomaine' : '18'}) }}" class="p11" rel="nofollow" aria-haspopup="false"></a><p><strong>Décor</strong></p><b class="b11"></b></div>
                                <div><a href="{{ path('philea_domaine',{'idDomaine' : '14'}) }}" class="p12" rel="nofollow" aria-haspopup="false"></a><p><strong>Energie</strong></p><b class="b12"></b></div>
                                <div><a href="{{ path('philea_domaine',{'idDomaine' : '13'}) }}" class="p13" rel="nofollow" aria-haspopup="false"></a><p><strong>Fabrication</strong></p><b class="b13"></b></div>
                                <div><a href="{{ path('philea_domaine',{'idDomaine' : '15'}) }}" class="p14" rel="nofollow" aria-haspopup="false"></a><p><strong>Treuil & Portique</strong></p><b class="b14"></b></div>
                                <div><a href="{{ path('philea_domaine',{'idDomaine' : '16'}) }}" class="p15" rel="nofollow" aria-haspopup="false"></a><p><strong>Transport</strong></p><b class="b15"></b></div>
                                <div><a href="{{ path('philea_domaine',{'idDomaine' : '17'}) }}" class="p16" rel="nofollow" aria-haspopup="false"></a><p><strong>Site Web</strong></p><b class="b16"></b></div>                                
                                <div><a data-toggle="tooltip" title="Système d’ancrage" href="{{ path('philea_domaine',{'idDomaine' : '5'}) }}" class="p17" rel="nofollow" aria-haspopup="false"></a><p><strong>Treuil & Portique</strong></p><b class="b17"></b></div>
                                <div><a href="{{ path('philea_domaine',{'idDomaine' : '6'}) }}" class="p18" rel="nofollow" aria-haspopup="false"></a><p><strong>Transport</strong></p><b class="b18"></b></div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</div>

{% endblock %}
