<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Projet Philea{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.vertical-tabs.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/philea.css') }}" type="text/css"/>

    {% endblock %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

</head>

<body>

<div class="container">
    <img src="{{ asset('img/site/header.png') }}" />
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('philea_index') }}"><span class="glyphicon glyphicon-home"></span> <b>Accueil</b></a></li>
                <li><a href="{{ path('philea_projets') }}"><span class="glyphicon glyphicon-asterisk"></span> <b>Projets</b></a></li>
                <li> <a href="{{ path('philea_synoptique') }}" ><span class="glyphicon glyphicon-tree-conifer"></span> <b>Synoptique</b></a> </li>
                <!--
                <li  class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Académie</b> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#">Créteil</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Léonard de Vinci, Melun (77)</a></li>
                                <li><a href="#">Gué à Tresmes, Congis (77)</a></li>
                                <li><a href="#">Euhénie Cotton, Montreuil (93)</a></li>
                                <li><a href="#">Louis Armand, Nogent sur marne (94)</a></li>
                                <li><a href="#">François Mansart, La Varenne (94)</a></li>

                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Limoges</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Cabanis, Brive-la-gaillarde (19)</a></li>

                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Paris</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Diderot</a></li>
                                <li><a href="#">Dorian</a></li>
                                <li><a href="#">Louis Armand</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Versailles</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Alexandre Denis, Cerny (91)</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                -->

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted('ROLE_GESTIONNAIRE') %}
                            <li><a href="{{ path('philea_utilisateurs') }}"><span class="glyphicon glyphicon-user"></span> <b>Utilisateurs</b></a></li>
                            <li><a href="{{ path('philea_gestionnaires') }}"><span class="glyphicon glyphicon-globe"></span> <b>Gest. Publication</b></a></li>
                        {% endif %}
                    <li><a href="{{ path('philea_redacteurs') }}"><span class="glyphicon glyphicon-dashboard"></span> <b>Mes étapes</b></a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> <b>({{ app.user.username }}) Deconnexion</b></a></li>
                {% else %}
                 <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> <b>Connexion</b></a></li>

                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>

    <!-- Main component -->
    <div class="philea-text-content">
        {% block body %}
        {% endblock %}
    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

{{ tinymce_init() }}
{% block head %}{% endblock %}
<br/>
<div class="container">
  <hr/>
  <div class="footer text-right">
    <div class="footer">
        <ul class="list-inline">
            <li><a href="#"> <span class="glyphicon glyphicon-chevron-down"></span> Mention légales</a></li>
            <li><a href="#"> <span class="glyphicon glyphicon-thumbs-up"></span> Patenaires </a></li>
            <!-- li><a href="#"> <span class="glyphicon glyphicon-copyright-mark"></span> Conditions générales</a></li -->

        </ul>
    </div>
  </div>
</div>
</body>
</html>
