<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Projet Philea{% endblock %}</title>
    <title>Projet Philea</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
    {% endblock %}


</head>

<body>

<div class="container">
    <img src="{{ asset('img/site/header.png') }}" />
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('cnes_philae_default_index') }}"><b>Accueil</b></a></li>
                <li  class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Académie</b> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#">Créteil</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Léonard de Vinci, Melun (77)</a></li>
                                <li><a href="#">Gué à Tresmes, Congis (77)</a></li>
                                <li><a href="#">Euhénie Cotton, Montreuil (93)</a></li>
                                <li><a href="#">Louis Armand, Nogent sur marne (94)</a></li>
                                <li><a href="#">François Mansart, La Varenne (94)</a></li>

                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Limoges</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Cabanis, Brive-la-gaillarde (19)</a></li>

                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Paris</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Diderot</a></li>
                                <li><a href="#">Dorian</a></li>
                                <li><a href="#">Louis Armand</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Versailles</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Alexandre Denis, Cerny (91)</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Projet</b><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#">Structure</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '2'}) }}">Balcon</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '1'}) }}">Caisse</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '3'}) }}">Train D'atérissage</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '4'}) }}">ADS</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '5'}) }}">Anchor</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '6'}) }}">Radio</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Instrument d'éxploration</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '8'}) }}">CIVA</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '12'}) }}">SD2</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '11'}) }}">ROMAP</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '9'}) }}">MUPUS</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '10'}) }}">ROLIS</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '7'}) }}">APXS</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Support</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '13'}) }}">Fabrication</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '14'}) }}">Energie</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '16'}) }}">Transport</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '15'}) }}">Treuil & Portique</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '17'}) }}">Site</a></li>
                                <li><a href="{{ path('cnes_philae_default_domaine',{'idDomaine' : '18'}) }}">Décor</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>



            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted('ROLE_GESTIONNAIRE') %}
                            <li><a href="{{ path('cnes_philae_default_gestion') }}"><b>Validation</b></a></li>
                        {% endif %}
                    <li><a href="{{ path('cnes_philae_default_admin') }}"><b>Mes étapes</b></a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><b>Deconnexion</b></a></li>
                {% else %}
                 <li><a href="{{ path('fos_user_security_login') }}"><b>Connexion</b></a></li>

                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        {% block body %}{% endblock %}
    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{{ tinymce_init() }}
{% block head %}{% endblock %}
</body>
</html>