<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Projet Philea{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.vertical-tabs.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('prettify/prettify.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/philea.css') }}" type="text/css"/>

    {% endblock %}

<link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
{{ tinymce_init() }}

<script src="{{ asset('js/jquery-ui.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#mon_image").tooltip({
      position: "center right",
      effect: "fade",
      opacity: 0.7,
      tip: '.tooltip'
    });
  });
</script>

</head>

<body>

<div class="container">
    <div class="text-center"><img src="{{ asset('img/site/header_non_transparent.png') }}" />
        <a href="https://github.com/sio-melun/philea"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
    </div>
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('philea_index') }}"><span class="glyphicon glyphicon-home"></span> <b>Accueil</b></a></li>
                <li><a href="{{ path('philea_projets') }}"><span class="glyphicon glyphicon-asterisk"></span> <b>Projets</b></a></li>
                <li> <a href="{{ path('philea_synoptique') }}" ><span class="glyphicon glyphicon-tree-conifer"></span> <b>Synoptique</b></a> </li>
                <!--
                <li  class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Académie</b> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#">Créteil</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Léonard de Vinci, Melun (77)</a></li>
                                <li><a href="#">Gué à Tresmes, Congis (77)</a></li>
                                <li><a href="#">Euhénie Cotton, Montreuil (93)</a></li>
                                <li><a href="#">Louis Armand, Nogent sur marne (94)</a></li>
                                <li><a href="#">François Mansart, La Varenne (94)</a></li>

                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Limoges</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Cabanis, Brive-la-gaillarde (19)</a></li>

                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Paris</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Diderot</a></li>
                                <li><a href="#">Dorian</a></li>
                                <li><a href="#">Louis Armand</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Versailles</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Alexandre Denis, Cerny (91)</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                -->

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li><a href="{{ path('admin_user') }}"><span class="glyphicon glyphicon-user"></span> <b>Utilisateurs</b></a></li>
                            <li><a href="{{ path('philea_gestionnaires') }}"><span class="glyphicon glyphicon-globe"></span> <b>Gest. Publication</b></a></li>
                        {% elseif is_granted('ROLE_GESTIONNAIRE') %}
                            <li><a href="{{ path('philea_utilisateurs') }}"><span class="glyphicon glyphicon-user"></span> <b>Utilisateurs</b></a></li>
                            <li><a href="{{ path('philea_article') }}"><span class="glyphicon glyphicon-globe"></span> <b>Gest. Articles</b></a></li>
                            <li><a href="{{ path('philea_gestionnaires') }}"><span class="glyphicon glyphicon-globe"></span> <b>Gest. Publication</b></a></li>
                        {% endif %}
                    <li><a href="{{ path('philea_redacteurs') }}"><span class="glyphicon glyphicon-dashboard"></span> <b>Mes étapes</b></a></li>
					{% if is_granted('ROLE_ADMIN') %}
                    <li><a data-toggle="tooltip" title="Admin" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> <b>({{ app.user.username }} - <span class="glyphicon glyphicon-admin"></span>) Deconnexion</b></a></li>
					{% elseif is_granted('ROLE_SUPER_ADMIN') %}
                    <li><a data-toggle="tooltip" title="Super Admin" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> <b>({{ app.user.username }} - <span class="glyphicon glyphicon-superadmin"></span>) Deconnexion</b></a></li>
					{% elseif is_granted('ROLE_GESTIONNAIRE') %}
                    <li><a data-toggle="tooltip" title="Gestionnaire" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> <b>({{ app.user.username }} - <span class="glyphicon glyphicon-gestionnaire"></span>) Deconnexion</b></a></li>
					{% elseif is_granted('ROLE_REDACTEUR') %}
                    <li><a data-toggle="tooltip" title="Redacteur" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> <b>({{ app.user.username }} - <span class="glyphicon glyphicon-redacteur"></span>) Deconnexion</b></a></li>	
					{% endif %}
                {% else %}
                 <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> <b>Connexion</b></a></li>

                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>

    <!-- Main component -->
    <div class="philea-text-content">
        {% block body %}
        {% endblock %}
    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('prettify/prettify.js') }}"></script>
<script src="{{ asset('js/bootstrap.touchspin.js') }}"></script>
<script src="{{ asset('js/lightbox-2.6.min.js') }}"></script>
<script>
    $("input[name='form[avancement]']").TouchSpin({
        min: 0,
        max: 100,
        step: 0.1,
        decimals: 1,
        boostat: 5,
        maxboostedstep: 10,
        postfix: '%'
    });
</script>

{% block head %}{% endblock %}<!-- Pour Datatables -->

<br/>
<div class="container">
  <hr/>
  <div class="footer text-right">
    <div class="footer">
        <ul class="list-inline">
            <li><a href="#"> <span class="glyphicon glyphicon-chevron-down"></span> À propos </a></li>
            {% if not app.user or  not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('fos_user_resetting_request') }}"><span class="glyphicon glyphicon-question-sign"></span> Mot de passe perdu</a></li>
            {% endif %}
            <!-- li><a href="#"> <span class="glyphicon glyphicon-copyright-mark"></span> Conditions générales</a></li -->

        </ul>
    </div>
  </div>
</div>
</body>
</html>
