{% extends '::layout.html.twig' %}
{% block head %}

    <link rel="stylesheet" href="{{ asset('css/demo_table.css') }}" type="text/css"/>
    <script type="text/javascript" language="javascript" src="{{ asset('js/jquery.dataTables.js') }}"></script>
   <link rel="stylesheet" href="{{ asset('css/philea.css') }}" type="text/css"/>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
			$('#example').dataTable( {
				"oLanguage": {
					"sEmptyTable": "Aucune donnée correspondante",
					"sLoadingRecords": "Traitement en cours...",
					"sProcessing": "Traitement en cours...",
					"sZeroRecords": "Aucune donnée correspondante",
					"sInfo": "Affichage de _START_ à  _END_ sur _TOTAL_ éléments",
					"sInfoEmpty": "Aucun élément",
					"sInfoFiltered": "",
                    "sSearch" : "Rechercher :",
					"sLengthMenu": 'Affiche <select>'+
					 	'<option value="5">5</option>'+
					 	'<option value="10">10</option>'+
					 	'<option value="15">15</option>'+
					 	'<option value="20">20</option>'+
					 	'<option value="25">25</option>'+
					 	'<option value="-1">Tous</option>'+
					 	'</select> utilisateurs par page',
					"oPaginate": {
						"sFirst": "<<",
						"sLast": ">>",
						"sNext": ">",
						"sPrevious": "<"
					}
				},
				"aaSorting": [  ],
				"sPaginationType": "full_numbers"
			} );
		} );
    </script>
{% endblock %}
{% block body -%}
    <h1>User list</h1>

    <table cellpadding="0" cellspacing="0" class="display" id="example"  border="0" width="100%" >
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actif</th>
                <th>Dernière connexion</th>
                <th>Bloqué</th>
                <th>Expiré</th>
                <th>Roles</th>
                <th>Gérer les projets associés</th>
                <th>Nombre de projets</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                
                <td>{{ entity.email }}</td>
                
                <td>{{ entity.enabled }}</td>
               
                <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.locked }}</td>
                <td>{{ entity.expired }}</td>
                <td>
                {%for role in entity.roles %}
                    {{role}}
                {%endfor%}
                </td>
                <td><a href="{{ path('philea_utilisateur_projets',{'idUser' : entity.id})}}"><span class="glyphicon glyphicon-pencil"></span> Gérer</a> </td>
                <td><span class="badge">{{entity.projets.count}}</span></td>
                <td>
                <ul class="nopuce">
                    <li>
                        <a href="{{ path('admin_user_show', { 'id': entity.id }) }}"><button class="btn btn-xs btn-primary">voir</button></a>
                    </li>
                    <li>
                        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}"><button class="btn btn-xs btn-primary">éditer</button></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="separeBot"></div>
        <ul class="nopuce">
        <li>
            <a href="{{ path('admin_user_new') }}">
                <button class="btn btn-xs btn-primary">Créer un nouvel utilisateur</button>
            </a>
        </li>
    </ul>
    {% endblock %}
