{% extends '::layout.html.twig' %}

{% block body -%}
<a href="{{ path('admin_user') }}">
    Retour a la liste
</a>
<div class="row">
    <h1>User : {{entity.username}}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Username :</th>
                <td>{{ entity.username }}</td>
            </tr>

            <tr>
                <th>Email :</th>
                <td>{{ entity.email }}</td>
            </tr>

            <tr>
                <th>Actif :</th>
                 {%if entity.enabled == 1 %}
                <td>Oui</td>
                {% else %}
                <td>Non</td>
                {%endif%}
            </tr>


            <tr>
                <th>Dernière connexion :</th>
                <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Bloqué :</th>
                {%if entity.locked == 1 %}
                <td>Oui</td>
                {% else %}
                <td>Non</td>
                {%endif%}
            </tr>
            <tr>
                <th>Expiré :</th>
                {%if entity.expired == 1 %}
                <td>Oui</td>
                {% else %}
                <td>Non</td>
                {%endif%}
            </tr>

            <tr>
                <th>Roles :</th>
                <td>
                {%for role in entity.roles%}
                    {{role}} &nbsp;
                {%endfor%}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="separeBotxs"></div>
            <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">
                <button class="btn btn-primary">Editer</button>
            </a>
        {{ form(delete_form) }}
</div>
{% endblock %}
