{% extends "::layout.html.twig" %}
{% block title %}Projet Philae - Validation{% endblock %}
{% block body %}
    <h1 style="text-align:center;"><span id="titre">Gestion des publications</span></h1>

    <div id="accordion">
        <h3> Etape(s) en Attente(s) de Validation</h3>

        <div>
            {% for etape in lesEtapes %}
                {% for p1 in userProjets %}
                    {% if (etape.etat==0 and p1.id==etape.projet.id) %}

                        <table width="100%" class="table">
                            <tr>
                                <th colspan="5"><span style="float:left;">Projet : {{ etape.projet.domaine.nom }}</span><span
                                            style="float:right;">Rédacteur : {{ etape.user.username }}</span></th>
                            </tr>
                            <tr>
                                <th colspan="5"><span style="float:left;">{{ etape.titre }}</span> <span
                                            style="float:right;">Avancement : {{ etape.avancement }} %</span></th>
                            </tr>
                            <tr>

                                <td width="10%"><img src='{{ ("img/upload/" ~ etape.path) | apply_filter("my_thumb") }}' /></td>
                                <td width="80%">{{ etape.contenu|raw }}</td>
                                <td width="5%"><a
                                            href="{{ path('philea_gestionnaire_etape_modifier',{'id' : etape.id}) }}">
                                        <button class="btn btn-info btn-small"><i class="icon-white icon-edit"></i>
                                            Modifier
                                        </button>
                                    </a></td>
                                <td width="5%"><a
                                            href="{{ path('philea_gestionnaire_etape_publier',{'id' : etape.id}) }}">
                                        <button class="btn btn-success btn-small"><i
                                                    class="icon-white icon-ok-sign"></i> Publier
                                        </button>
                                    </a></td>

                            </tr>


                        </table>
                        <br/>

                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        <h3> Etape(s) Validée(s)</h3>

        <div>
            {% for etape in lesEtapes %}
                {% for p1 in userProjets %}
                    {% if (etape.etat==1 and p1.id==etape.projet.id) %}

                        <table width="100%" class="table">
                            <tr>
                                <th colspan="5"><span style="float:left;">Projet : {{ etape.projet.domaine.nom }}</span><span
                                            style="float:right;">Rédacteur : {{ etape.user.username }}</span></th>
                            </tr>
                            <tr>
                                <th colspan="5"><span style="float:left;">{{ etape.titre }}</span> <span
                                            style="float:right;">Avancement : {{ etape.avancement }} %</span></th>
                            </tr>
                            <tr>

                                <td width="10%"><img src='{{ ("img/upload/" ~ etape.path) | apply_filter("my_thumb") }}' /></td>
                                <td width="80%">{{ etape.contenu|raw }}</td>
                                <td width="5%"><a
                                            href="{{ path('philea_gestionnaire_etape_modifier',{'id' : etape.id}) }}">
                                        <button class="btn btn-info btn-small"><i class="icon-white icon-edit"></i>
                                            Modifier
                                        </button>
                                    </a></td>
                                <td width="5%"><a 
                                            href="{{ path('philea_gestionnaire_etape_invalider',{'id' : etape.id}) }}" onclick="return confirm('Voulez-vous vraiment invalider cette étape ?')">
                                        <button class="btn btn-danger btn-small"><i class="icon-white icon-trash"></i>
                                            Invalider
                                        </button>
                                    </a></td>
                            </tr>
                        </table>
                        <br/>

                    {% endif %}
                {% endfor %}
            {% endfor %}

        </div>
        <h3> Etape(s) Supprimée(s)</h3>

        <div>
            {% for etape in lesEtapes %}
                {% for p1 in userProjets %}
                    {% if (etape.etat==-1 and p1.id==etape.projet.id) %}

                        <table width="100%" class="table">
                            <tr>
                                <th colspan="5"><span style="float:left;">Projet : {{ etape.projet.domaine.nom }}</span><span
                                            style="float:right;">Rédacteur : {{ etape.user.username }}</span></th>
                            </tr>
                            <tr>
                                <th colspan="5"><span style="float:left;">{{ etape.titre }}</span> <span
                                            style="float:right;">Avancement : {{ etape.avancement }} %</span></th>
                            </tr>
                            <tr>

                                <td width="10%"><img src='{{ ("img/upload/" ~ etape.path) | apply_filter("my_thumb") }}' /></td>
                                <td width="90%">{{ etape.contenu|raw }}</td>

                            </tr>

                        </table>
                        <br/>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>


    </table>

    <script>
        $("#accordion").accordion({autoHeight: false, header: "h3", collapsible: true, active: false, heightStyle: false});
    </script>
{% endblock %}