<!doctype html>
<html lang="fr">
<head>
    <title>Projet Philea - Accueil</title>
    <meta charset="utf-8">

    <style>

        /* Styles généraux */
        body {
            font-family:Sans-serif;
            font-size:100%;
            background:url({{ asset('img/site/bg.jpg') }});
        }

        /* Disposition par défaut */
        #main, #aside {
            float:left;
            background:#fff;
            min-height:300px;
            overflow:auto;
            width:100%;
            clear:both;

        }
        body {
            margin-top:200px;
        }
        .planete {
            float:left;
            margin:auto;
            padding-right:50px;
        }


        /* min-width pour moyennes résolutions */
        @media screen and (max-width: 1024px) {
            #main {
                width:70%;
                clear:none;
            }
            #aside {
                width:30%;
                clear:none;
            }
            .planete {
                float:left;
                padding-right:0px;

            }

        }


        /* max-width pour faibles résolutions */
        @media screen and (max-width: 640px) {
            body {
                margin-top:10px;
            }
            .planete {
                float:none;
                padding-right:0px;

            }		img {
                         border: 0 none;
                         height: auto;
                         max-width: 100%;
                         vertical-align: middle;

                     }

        }

    </style>
</head>

<body>

<div class="planete"><a href="{{ path('cnes_philae_default_structure') }}"><img src="{{ asset('img/site/p_structure.png') }}" /></a></div>
<div class="planete"><a href="{{ path('cnes_philae_default_structure') }}"><img src="{{ asset('img/site/p_IE.png') }}" /></a></div>
<div class="planete"><a href="{{ path('cnes_philae_default_structure') }}"><img src="{{ asset('img/site/p_support.png') }}" /></a></div>
<div class="planete"><a href="{{ path('cnes_philae_default_structure') }}"><img src="{{ asset('img/site/p_PC.png') }}" /></a></div>


</body>
</html>
