{# src/Cnes/PhilaeBundle/Resources/views/Default/admin.html.twig #}
{% extends "::layout.html.twig" %}
{% block title %}Projet Philae - Rédaction{% endblock %}
{% block body %}

    <h1 style="text-align:center;"><span id="titre">Mes étapes</span></h1>

    Ajouter des étapes aux Projets :<br />
    <table border="1">
        <tr>
            <td>Ajouter des étapes</td>

        </tr>

        {% for user in projets %}
            <tr>
                <td>
                    <a href="{{ path('cnes_philae_default_ajoutetape', { 'idProjet': user.id }) }}">-Projet {{ user.nom }}</a>
                </td>

            </tr>

        {% endfor %}

   </table>


    <div id="accordion">

<h3> Etape en Attende de Validation</h3>
    <div>

        {% for etape in etapes %}
            {% if (etape.isValide==0) %}




                <table width="100%" border="1">
                    <tr>
                        <th colspan="5">
                            <center><font size="+1" color="#000066">{{ etape.titre }} {{ etape.projet.nom }}</font></center>
                        </th>
                    </tr>
                    <tr>

                        <td width="20%">
                            <img src="{{ asset('img/upload/'~ etape.path) }}" width="100%" style="max-height: 200px;">
                        </td>
                        <td width="50%">{{ etape.contenu|raw }}</td>
                        <td width="5%"><a
                                    href="{{ path('cnes_philae_default_modifier',{'id' : etape.id}) }}">Modifier</a>
                        </td>
                        <td width="5%"><a href="{{ path('cnes_philae_default_deleteetape',{'id' : etape.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                </table>
                <br/>

            {% endif %}
        {% endfor %}
    </div>
    <h3>Etape Validé</h3>
    <div>
                {% for etape in etapes %}
                    {% if (etape.isValide==1) %}

                        <table width="100%" border="1">
                            <tr>
                                <th colspan="5">
                                    <center><font size="+1" color="#000066">{{ etape.titre }}</font></center>
                                </th>
                            </tr>
                            <tr>

                                <td width="20%">
                                    <img src="{{ asset('img/upload/'~ etape.path) }}" width="100%"
                                         style="max-height: 200px;"></td>
                                <td width="50%">{{ etape.contenu|raw }}</td>
                                <td width="5%"><a href="{{ path('cnes_philae_default_modifier',{'id' : etape.id}) }}">Modifier</a>
                                </td>
                                <td width="5%"><a
                                            href="{{ path('cnes_philae_default_deleteetape',{'id' : etape.id}) }}">Supprimer</a>
                                </td>
                            </tr>


                        </table>
                        <br/>

                    {% endif %}
                {% endfor %}
    </div>
    </div>



    <!-- </table>  ???-->
        <script>
            $( "#accordion" ).accordion();
        </script>


        {% endblock %}

