{% extends "::layout.html.twig" %}

{% block body %}
        <center><span id="titre">{{domaine.nom}}</span><br />

        {{domaine.description}}</center>
  
    <br /><br />
    <table class="table"> 
        <tr>
            <td>Discipline</td>
            <td>Etablissement</td>
            <td>Classe</td>
            <td>Académie</td>
            <td>Projet</td>
            <td>Avancement</td>
        </tr>
        
        {% for projet in projets %}
            <tr>
            <td>{{ projet.domaine.typeDomaine}}</td>
            <td>{{ projet.etablissement.nom}}</td>
            <td>{{ projet.classe.nomcourt}}</td>
            <td>{{ projet.etablissement.academie}}</td>            
            <td><a href="{{ path('cnes_philae_default_projet',{'idProjet' : projet.id}) }}">Voir les étapes</a></td>
            <td></td>
            </tr>
        {% endfor %}
        
    </table>
{% endblock %}
    