{% extends "::layout.html.twig" %}

{% block body %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>accordion demo</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    </head>


<h1 style="text-align:center;"><span id="titre">Validation</span></h1>

    <div id="accordion">
    <h3> Etape en Attende de Validation</h3>
    <div>
    {%  for etape in lesEtapes %}
        {% if (etape.isValide==0) %}

            <table width="100%" border="1">
                <tr>
                    <th colspan="5"> <center><font size="+1" color="#000066">{{etape.titre}}</font></center></th>

                </tr>
                <tr><th colspan="5"> <center> Avancement : {{etape.avancement}}%</center></th></tr>
                <tr>

                    <td width="20%">
                        <img src="{{ asset('img/upload/'~ etape.path) }}" width="100%" style="max-height: 200px;"></td>
                    <td width="50%">{{ etape.contenu|raw }}</td>
                    <td width="5%"><a href="{{ path('cnes_philae_default_modifiergestion',{'id' : etape.id}) }}">Modifier</a></td>
                    <td width="5%"><a href="{{ path('cnes_philae_default_publiergestion',{'id' : etape.id}) }}">Publier</a></td>
                    <td width="5%"><a href="{{ path('cnes_philae_default_deletegestion',{'id' : etape.id}) }}">Supprimer</a></td>
                </tr>


            </table>
            <br />

        {% endif %}
    {% endfor %}
    </div>

    <h3> Etape Validé</h3>
    <div>
    {%  for etape in lesEtapes %}
        {% if (etape.isValide==1) %}

            <table width="100%" border="1">
                <tr>
                    <th colspan="5"> <center><font size="+1" color="#000066">{{etape.titre}}</font></center></th>
                </tr>
                <tr>

                    <td width="20%">
                        <img src="{{ asset('img/upload/'~ etape.path) }}" width="100%" style="max-height: 200px;"></td>
                    <td width="50%">{{ etape.contenu|raw }}</td>
                    <td width="5%"><a href="{{ path('cnes_philae_default_modifiergestion',{'id' : etape.id}) }}">Modifier</a></td>
                    <td width="5%"><a href="{{ path('cnes_philae_default_deletegestion',{'id' : etape.id}) }}">Supprimer</a></td>
                </tr>
            </table>
            <br />

        {% endif %}
    {% endfor %}

    </div>
    <h3> Etape Supprimé</h3>
    <div>
    {%  for etape in lesEtapes %}
        {% if (etape.isValide=="-1") %}

            <table width="100%" border="1">
                <tr>
                    <th colspan="5"> <center><font size="+1" color="#000066">{{etape.titre}}</font></center></th>
                </tr>
                <tr>

                    <td width="20%">
                        <img src="{{ asset('img/upload/'~ etape.path) }}" width="100%" style="max-height: 200px;"></td>
                    <td width="50%">{{ etape.contenu|raw }}</td>
                    <td width="5%"><a href="{{ path('cnes_philae_default_modifiergestion',{'id' : etape.id}) }}">Modifier</a></td>
                    <td width="5%"><a href="{{ path('cnes_philae_default_publiergestion',{'id' : etape.id}) }}">Publier</a></td>

                </tr>


            </table>
            <br />
        {% endif %}
    {% endfor %}
    </div>
    </div>


    </table>


    <script>
        $( "#accordion" ).accordion();
    </script>


{% endblock %}