{# src/Cnes/PhilaeBundle/Resources/views/Default/site_web.html.twig #}
{% extends "::layout.html.twig" %}
{% block title %}Projet Philae - La comète{% endblock%}
{% block body %}

    <h1 style="text-align:center;"> LeSite web</h1>
    <p> Réalistation du site internet par des élèves de BTS SIO du lycée Léonard de Vinci, Melun (77) </p>
    <table id="personnel">
        <tr>
            <td><img src="{{ asset('img/site/jeremy.png') }}"/></td>
            <td>AMBERT Jérémy - Développeur
                <p>Réalisation des pages authentification et des pages dynamiques</p></td>
        </tr>
        <tr>
            <td><img src="{{ asset('img/site/kevin.png') }}"/></td>
            <td>ANTOINE Kévin - Développeur
                <p>Réalisation des pages authentification, des pages dynamiques et du compte-rendu</p></td>
        </tr>
        <tr>
            <td><img src="{{ asset('img/site/melanie.png') }}"/></td>
            <td>BAPTISTIA Mélanie - Développeuse
                <p>Conception et réalisation de la base de données et réalisation des formulaires de saisie et traitement
                    Formation des utilisateurs</p></td>
        </tr>
        <tr>
            <td><img src="{{ asset('img/site/adrien.png') }}"/></td>
            <td>BOZIER Adrien - Développeur
                <p>Réalisation de la maquette</p></td>
        </tr>
        <tr>
            <td><img src="{{ asset('img/site/tommy.png') }}"/></td>
            <td>CHOISY Tommy - Développeur et designer
                <p>Réalisation de la maquette et du menu</p></td>
        </tr>
        <tr>
            <td><img src="{{ asset('img/site/thibaut.png') }}"/></td>
            <td>DUMAS Thibaut - Développeur
                <p>Réalisation des pages statiques et du CSS</p></td>
        </tr>
        <tr>
            <td><img src="{{ asset('img/site/frederic.png') }}"/></td>
            <td>FRANCOIS Frédéric - Développeur
                <p>Réalisation des pages statiques et du compte-rendu</p></td>
        </tr>
        <tr>
            <td><img src="{{ asset('img/site/valentin.png') }}"/></td>
            <td>GASSET Valentin - Développeur
                <p>Réalisation des formulaires de saisie et traitement, des pages statiques et des pages dynamiques</p></td>
        </tr>
        <tr>
            <td><img src="{{ asset('img/site/soumaya.png') }}"/></td>
            <td>NABOULSI Soumaya - Développeuse
                <p>Réalisation du CSS, du menu et réalisation des tests nécessaires
                    Formation des utilisateurs</p></td>
        </tr>
        <tr>
            <td><img src="{{ asset('img/site/thana.png') }}"/></td>
            <td>THARMALINGAM Thanaletcumi - Développeuse
                <p>Conception et réalisation de la base de données, réalisation du CSS et des tests nécessaires</p></td>
        </tr>
        <tr>
            <td><img src="{{ asset('img/site/laureen.png') }}"/></td>
            <td>WALTHER Laureen - Développeuse
                <p>Réalisation des pages authentfication, des pages statiques, des pages dynamtiques et du compte-rendu</p></td>
        </tr>
    </table>






{% endblock %}

