<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
        /* General styles */
        html, body {padding:0; margin:0; width:100%; min-height:100%;background:url({{ asset('img/site/bg2.png') }});}
        .wrapper {width:100%; height:100%;}
        .page {width:100%; max-width:650px; margin:0 auto;}
        h1,h3,h4,p {margin:0; padding:3px 0;}

        /* Image map styles */
        .imageMap {width:100%; position:relative;}
        .imageMap img {display:block; width:100%; border-radius:20px;}
        .imageMap .hotspots {width:100%; height:100%; position:absolute; left:0; top:0; visibility:hidden;}
        .imageMap a {display:block; position:absolute; background:#000; z-index:100; opacity:0.2; filter: alpha(opacity=0); border:1px solid transparent; border-radius:10px;}
        .imageMap a.p1 {left:15%; top:12%; width:15%; height:20%;}
        .imageMap a.p2 {left:58%; top:12%; width:34%; height:20%;}
        .imageMap a.p3 {left:5%; top:44%; width:17%; height:20%;}
        .imageMap a.p4 {left:11%; top:76%; width:18%; height:20%;}
        .imageMap a.p5 {left:65%; top:76%; width:17%; height:20%;}
        .imageMap a.p6 {left:72%; top:44%; width:25%; height:20%;}
        .imageMap a.p7 {left:32%; top:38%; width:31%; height:39%;}
        .imageMap a + p {position:absolute; left:0%; top:102%; width:100%; color:#000; display:none;}

        .imageMap:hover .hotspots {visibility:visible;}
        .imageMap p strong {display:block; padding:0; margin:0; font: bold 25px/30px 'times new roman',serif; color:#000;}
        .imageMap p {padding:0; margin:0; font: normal 18px/22px 'times new roman',serif; color:#444;}

        .imageMap b {display:block; position:absolute; background:url(trans.gif); z-index:200;padding:1px;
            -webkit-transition:0.75s;
            -moz-transition:0.75s;
            -o-transition:0.75s;
            transition:0.75s;
        }


        .imageMap .hotspots div:hover b {width:0; padding:0;}
        .imageMap .hotspots div:hover p {display:block;}
        .imageMap .hotspots div:hover a {background:#fff; z-index:100; border:1px solid #000;}
    </style>
</head>

<body>
<div class="wrapper" onclick="">
    <div class="page">
        <div class="imageMap" aria-haspopup="true">
            <br /><br /><br />
            <img src="{{ asset('img/site/structure.png') }}" alt="" />
            <div class="hotspots">
                <div title="click/tap to go to the monkey page"><a href="{{ path('cnes_philae_default_page',{'page' : '4'}) }}" class="p1" rel="nofollow" aria-haspopup="false"></a></div>
                <div title="click/tap to go to the vulture page"><a href="{{ path('cnes_philae_default_page',{'page' : '3'}) }}" class="p2" rel="nofollow" aria-haspopup="false"></a></div>
                <div title="click/tap to go to the ostrich page"><a href="{{ path('cnes_philae_default_page',{'page' : '5'}) }}" class="p3" rel="nofollow" aria-haspopup="false"></a></div>
                <div title="click/tap to go to the zebra page"><a href="{{ path('cnes_philae_default_page',{'page' : '1'}) }}" class="p4" rel="nofollow" aria-haspopup="false"></a></div>
                <div title="click/tap to go to the snake page"><a href="{{ path('cnes_philae_default_page',{'page' : '2'}) }}" class="p5" rel="nofollow" aria-haspopup="false"></a></div>
                <div title="click/tap to go to the tiger page"><a href="{{ path('cnes_philae_default_page',{'page' : '6'}) }}" class="p6" rel="nofollow" aria-haspopup="false"></a></div>
                <div title="click/tap to go to the tiger page"><a href="{{ path('cnes_philae_default_index')}}" class="p7" rel="nofollow" aria-haspopup="false"></a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
